#navbar.navbar.navbar-default
  %a.navbar-brand{:href => root_path}
    %i.icon-group
    Proyecto Daniel
  %ul.nav.navbar-nav.pull-right
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
        %i.icon-user
        %strong
          = current_user.name
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to signout_path do
            %i.fa.fa-power-off
            %span.tab Salir
